# Ignore Python cache files
__pycache__/

# Ignore the virtual environment directory
venv/

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore environment configuration files
.env

# Ignore macOS system files
.DS_Store
